@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Oswald:wght@200..700&display=swap');

header {
    background-color: #5FBFB2;
    font-family: "Nanum Gothic", Helvetica, sans-serif;
}
nav a{
    text-align: center;
    color: #504746;
    text-decoration: none;
    padding: 35px;
}
nav a:hover{
    background-color: #C6A15B;
    color: #504746;
}
body{
    background-color: #5FBFB2;
    font-family: "Nanum Gothic", Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
#logo_link{
    padding-top: 5px;
}
h2{
    margin: 0;
}
.home-title{
    color: #504746;
    font-family: "Oswald", Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
#background{
    height: 725px;
    background-color: #C6A15B;
}
#content{
    max-width: 1600px;
    margin: 0 auto;
}
#hero-img{
    width: 100%;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.book, .join {
    background-color: #5FBFB2;
    color: #504746;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.card-img{
border: 10px solid #C6A15B;
}
main section img {
    box-sizing: border-box;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.book:hover, .join:hover{
    background-color: #C6A15B;
    color: #504746;
}
.msg{
    background-color: #C6A15B;
    line-height: 1.5em;
    padding: 35px;
}
.msg h2{
    color: #504746;
    font-family: "Oswald", Helvetica, sans-serif;
}
.msg p {
    color: #504746;
    font-size: .8em;
    padding-bottom: 15px;
}
.button-box {
    text-align: center;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
.logo{
    width: 80px;
}
main section {
    text-align: center;
}
.mountains{
    margin: 100px 0;
}
footer{
    background-color: #C6A15B;
    color: #504746;
    padding: 25px 50px;
    margin-top: 200px;
}
footer .social img{
    padding-top: 15px;
}
footer p{
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}
footer a{
    color: #504746;
    text-decoration: none;
}
footer a:hover{
    color: #504746;
}
